Repository vitessio/arewefastyet, pull requests merged in 2021-02, with the labels that each got.

#15 Slight overhaul of run-benchmark
  .gitignore
  config.py
  initialize_benchmark.py
  report.py
  run-benchmark.py
  run-oltp
  run-tpcc
Labels: runner

#20 Addition of GitHub Actions workflows
  .github/workflows/ansible-lint.yml
  .github/workflows/pylint-3-7.yml
  ansible/aws-inventory.yml
  ansible/configure.yml
  ansible/koz-inventory-sharded-test.yml
  ansible/koz-inventory-sharded.yml
  ansible/koz-inventory-unsharded-test.yml
  ansible/koz-inventory-unsharded.yml
  ansible/oltp_read_write.yml
  ansible/packet-inventory.yml
  ansible/provision.yml
  ansible/roles/etcd/tasks/enable.yml
  ansible/roles/etcd/tasks/install.yml
  ansible/roles/host/tasks/main.yml
  ansible/roles/sysbench/tasks/main.yml
  ansible/roles/vitess-build/molecule/default/converge.yml
  ansible/roles/vitess_build/.yamllint
  ansible/roles/vitess_build/defaults/main.yml
  ansible/roles/vitess_build/molecule/default/INSTALL.rst
  ansible/roles/vitess_build/molecule/default/converge.yml
  ansible/roles/vitess_build/molecule/default/molecule.yml
  ansible/roles/vitess_build/molecule/default/verify.yml
  ansible/roles/vitess_build/tasks/clean.yml
  ansible/roles/vitess_build/tasks/golang.yml
  ansible/roles/vitess_build/tasks/main.yml
  ansible/roles/vitess_build/tasks/mysql.yml
  ansible/roles/vitess_build/tasks/mysqld_exporter.yml
  ansible/roles/vitess_build/templates/mysql.list.j2
  ansible/roles/vitess_build/vars/main.yml
  ansible/roles/vtgate/tasks/main.yml
  ansible/roles/vttablet/tasks/vttablet.yml
  ansible/test-mysql.yml
  ansible/test1-packet-inventory.yml
  ansible/tpcc.yml
  ansible/update.yml
  initialize_benchmark.py
  packet_vps.py
  server.py
Labels: github actions

#24 Built basic cli commands and created in docs cli.md
  .gitignore
  cli
  config.py
  docs/Installation.md
  docs/README.md
  docs/cli.md
  initialize_benchmark.py
  report.py
  requirements.txt
  run_benchmark.py
Labels: cli

#40 Addition of missing install and outdated oltp/tpcc targets in Makefile
  Makefile
  docs/Makefile.md
Labels: Severity 2, Type: Bug
